<!DOCTYPE html>
<meta charset="utf-8" />
<html lang="en">

{% include "header.html" with title="Assignments" %}

    <div class="maincontents">
        <div class="maincontentsStyle">    

        <header class="pageTitle">
            All assignments
        </header>

    <table class="table">
      <!-- Starts a table, contains rows -->
      <thead>
        <!-- identifies table header rows -->
        <tr>
          <!-- starts a row, contains cells -->
          <th>Assignment</th>
          <th>Due date</th>
          <th class="alnright">Weight</th>
        </tr>
      </thead>
      <!--Loop statements-->
      {% for assignment in assignments %}
      <tr>
        <!-- <td>{{assignment.title}}</td> -->
        <td><a href="/{{assignment.id}}/">{{assignment.title}}</a></td>
        <td>{{assignment.deadline | date:"M j"}}</td>
        <td class="alnright">{{assignment.weight}}</td>
      </tr>
      {% endfor %}
    </table>
</div>

<script>
  $(document).ready(function() {
      // Assuming you have a table element with the class 'table' in your HTML
      var $table = $('.table');
      make_table_sortable($table);
  });
</script>

  </html>