<!DOCTYPE html>
<meta charset="utf-8" />
<html lang="en">
  <!-- the relationship type should be stylesheet -->
  <link rel="stylesheet" type="text/css" href="/static/main.css" />

  <head>
    <title>Assignment 1 (HTML) - CS 3550</title>
    <link rel="icon" href="/static/favicon.ico" type="image/icon type" />
  </head>




    <header class="navigation">
        <div class="naviformat">
            <div class="bold">
                CS 3550
            </div>
            <div>
                <a href="assignments.html" title="This link goes Assignments page">Assignments</a>
            </div>
            <div class="marginleft">
            <a href="profile.html" title="This link goes profile page">Profile</a>
            </div>  
        </div>
    </header>


    <div class="maincontents">
        <div class="maincontentsStyle">    

        <header class="pageTitle">
            All assignments
        </header>

    <table class="table">
      <!-- Starts a table, contains rows -->
      <thead>
        <!-- identifies table header rows -->
        <tr>
          <!-- starts a row, contains cells -->
          <th>Assignment</th>
          <th>Due date</th>
          <th class="alnright">Weight</th>
        </tr>
      </thead>
      <!--Loop statements-->
      {% for assignment in assignments  %}
      <tr>
        <!-- <td>{{assignment.title}}</td> -->
        <td><a href="/{{assignment.id}}/">{{assignment.title}}</a></td>
        <td>{{assignment.deadline | date:"M j"}}</td>
        <td class="alnright">{{assignment.weight}}</td>
      </tr>
      {% endfor %}
    </table>
</div>

    </html>
