<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Assignments</title>
    <!-- Include jQuery -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
    <!-- Include main.js -->
    {% comment %} <script type="module" src="/static/main.js"></script> {% endcomment %}
    {% include "header.html" with title="Assignments" %}
</head>
<body>
    <div class="maincontents">
        <div class="maincontentsStyle">    
            <header class="pageTitle">
                All assignments
            </header>

            <table class="table">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th class = "sortable">Due date</th>
                        <th class="alnright sortable">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in assignments %}
                    <tr>
                        <td><a href="/{{assignment.id}}/">{{assignment.title}}</a></td>
                        <td data-value = {{assignment.deadline | date:"U"}} >{{assignment.deadline | date:"M j"}}</td>
                        <td data-value = {{assignment.weight}} class="alnright">{{assignment.weight}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="module">
        import { make_table_sortable } from "/static/main.js";
        make_table_sortable($("table"))
    </script>
</body>
</html>