<!DOCTYPE html>
<meta charset="utf-8" />
<html lang="en">

<link rel="stylesheet" type="text/css" href="/grades/templates/main.css" />

  <head>
    <title>{{title}} - CS 3550</title>
    <link rel="icon" href="/static/favicon.ico" type="image/icon type" />
  </head>
  
  <header class="navigation">
    <div class="naviformat">
      <div class="bold">
        CS 3550
      </div>
      <div>
        <a href="/" title="This link goes to Assignments page">Assignments</a>
      </div>
      <div class="marginleft">
        <a href="/profile" title="This link goes to the profile page">Profile</a>
      </div>
    </div>
  </header>
</html>