<!DOCTYPE html>
<meta charset="utf-8"> 
<html lang="en">

{% include "header.html" with title=assignment_title %}


<div class="maincontents">
    <div class="maincontentsStyle">    

        <header class="pageTitle">
            {{assignment_title| title}}
        </header>

        <span class="marginbottom">
            Due {{deadline | date:"F j"}}, total of {{total_points}} point{{total_points|pluralize}}
        </span>

        <div class="actionCard">
            <p>Currently {{submissions}} / {{total_student}} submission{{total_student | pluralize}} </p>
            <p class="horizonline">
            {{assigned}} submission{{assigned | pluralize }} assigned to you
            <a href="/{{assignment.id}}/submissions" title="This link goes submission">Grade</a>
            </p>
        </div>
    
        <header><p class="bold">Description</p></header>

        <p>
            {{description |safe}}
        </p>    
    </div>
</div>

</html>