<!DOCTYPE html>
<meta charset="utf-8"> 
<html lang="en">

<!-- the relationship type should be stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/main.css" />

<head>
    <title>Assignment 1 (HTML) - CS 3550</title>
    <link rel="icon" href="/static/favicon.ico" type="image/icon type">
  </head>


<header class="navigation">
    <div class="naviformat">
        <div class="bold">
            CS 3550
        </div>
        <div>
            <a href="assignments.html" title="This link goes Assignments page">Assignments</a>
        </div>
        <div class="marginleft">
        <a href="profile.html" title="This link goes profile page">Profile</a>
        </div>  
    </div>
</header>

<div class="maincontents">
    <div class="maincontentsStyle">    

        <header class="pageTitle">
            {{assignment_title| title}}
        </header>

        <span class="marginbottom">
            Due {{deadline | date:"F j"}}, total of {{total_points}} point{{total_points|pluralize}}
        </span>

        <div class="actionCard">
            <p>Currently {{submissions}} / {{total_student}} submission{{total_student | pluralize}} </p>
            <p class="horizonline">
            {{assigned}} submission{{assigned | pluralize }} assigned to you
            <a href="/{{assignment.id}}/submissions" title="This link goes submission">Grade</a>
            </p>
        </div>
    
        <header><p class="bold">Description</p></header>

        <p>
            {{description |safe}}
        </p>    
    </div>
</div>

</html>