<!DOCTYPE html>
<meta charset="utf-8" />
<html lang="en">

{% include "header.html" with title="login" %}

  <div class="maincontents">
    <div class="maincontentsStyle">
      <header class="pageTitle">
        <p>Log in</p>
      </header>

      <form class="loginForm" method="post" action="/profile/login/">
        <div class="rowContainer">
          <label class="rowBox" for="username">Username:</label>
          <input
            class="rowBox"
            type="text"
            id="username"
            name="username"
            autofocus
          />
        </div>
        <div class="rowContainer">
          <label class="rowBox" for="password">Password:</label>
          <input
            class="rowBox"
            type="password"
            id="password"
            name="password"
          />
        </div>

        <div class="rowContainer">
          <label for="login"></label>
          <button
            class="rowBox"
            name="login"
            onclick="location.href='/profile/'"
            type="button"
          >
            Log in
          </button>
        </div>
      </form>
    </div>
  </div>
</html>
