<!DOCTYPE html>
<meta charset="utf-8" />
<html lang="en">

  {% include "header.html" with title="Profile" %}


    <div class="maincontents">
        <div class="maincontentsStyle">    

    <!-- Page title -->
    <header class="pageTitle marginbottom">
        Your grades
    </header>

    <div class="actionCard">
      <p class="horizonline">

        Currently logged in as {{username}}.
        <a
          class="marginleft"
          role="button"
          href="/profile/logout/"
          title="This link goes login page"
          >Log out</a>        
      </p>
    </div>

    <!--All of links should go to -->
    <table>
      <!-- Starts a table, contains rows -->
      <thead>
        <tr>
          <th>Assignment</th>
          <!-- The header for that column should also be right-aligned. -->
          <th class="alnright">Graded</th>
        </tr>
      </thead>

      {% for assignment in assignments%}

      <tr>
        <td><a href="/{{assignment.id}}/submissions" title="This link goes submission"> {{assignment.title}} </a></td>

        {% if assignment.isValid %}
          <td class="alnright"> {{ assignment.assigned_count}} / {{assignment.total}} </td>
        {% else %}
          <td class="alnright"> Not Due </td>        
        {% endif %}
      </tr>
      {% endfor %}
    </table>
</div>
</div>

</html>