<!DOCTYPE html>
<meta charset="utf-8" />
<html lang="en">

  {% include "header.html" with title="Profile" %}


    <div class="maincontents">
        <div class="maincontentsStyle">    

    <!-- Page title -->
    <header class="pageTitle marginbottom">
        Your grades
    </header>

    <div class="actionCard">
      <p class="horizonline">

        Currently logged in as {{username}}.
        <a
          class="marginleft"
          role="button"
          title="This link goes login page"
          href="/profile/logout/"
          >Log out</a>        
      </p>
    </div>

    <!--All of links should go to -->

    {% if viewpoint == "admin" or viewpoint == "ta" %}
    <table>
      <!-- Starts a table, contains rows -->
      <thead>
        <tr>
          <th>Assignment</th>
          <!-- The header for that column should also be right-aligned. -->
          <!-- add sortable class to score-->
          <th class="alnright sortable">Graded</th>
        </tr>
      </thead>
    {% for assignment in assignments%}
        <tr>
          <td><a href="/{{assignment.id}}/submissions" title="This link goes submission"> {{assignment.title}} </a></td>

          {% if assignment.isValid %}
            <td data-value = "{{assignment.assigned_count }} / {{assignment.total}}" class="alnright"> {{ assignment.assigned_count}} / {{assignment.total}} </td>
          {% else %}
            <td class="alnright" data-value = -1> Not Due </td>        
          {% endif %}
        </tr>
        {% endfor %}
      </table>

      {%elif viewpoint == "student"%}
      <table>
        <!-- Starts a table, contains rows -->
        <thead>
          <tr>
            <th>Assignment</th>
            <!-- The header for that column should also be right-aligned. -->
            <!-- add sortable class to score-->
            <th class="alnright sortable">Score</th>
          </tr>
        </thead>
      {% for assignment in assignments.items %}
          <tr>
            <td data-weight = {{assignment.1.2}}><a href="/{{assignment.1.0}}/submissions" title="This link goes submission"> {{assignment.0}} </a></td>
            <td class="alnright profile" data-value = {{assignment.1.1}} data-weight = {{assignment.1.2}} > {{assignment.1.1}} </td>
          </tr>
      {% endfor %}
      <tfoot>
          <tr>
            <th data-origin = {{finalgrade}}>Final grade</th>
            <!-- The header for that column should also be right-aligned. -->
            <th class="alnright">{{finalgrade}}%</th>
          </tr>
        </tfoot>
        </table>
      {%endif%}
      <script type="module">
        import { make_table_sortable } from "/static/main.js";
        import { make_grade_hypothesized } from "/static/main.js";
        {% comment %} import { compute } from "/static/main.js"; {% endcomment %}

        make_table_sortable($("table"))
        make_grade_hypothesized($("table"))
        {% comment %} compute($("table")) {% endcomment %}
    </script>
</div>
</div>

</html>