<!DOCTYPE html>
<meta charset="utf-8" />
<html lang="en">
  <!-- the relationship type should be stylesheet -->
  <link rel="stylesheet" type="text/css" href="/static/main.css" />

  <head>
    <title>Assignment 1 (HTML) - CS 3550</title>
    <link rel="icon" href="/static/favicon.ico" type="image/icon type" />
  </head>
  
  
  
  

    <header class="navigation">
        <div class="naviformat">
            <div class="bold">
                CS 3550
            </div>
            <div>
                <a href="assignments.html" title="This link goes Assignments page">Assignments</a>
            </div>
            <div class="marginleft">
            <a href="profile.html" title="This link goes profile page">Profile</a>
            </div>  
        </div>
    </header>

    <div class="maincontents">
        <div class="maincontentsStyle">    

    <!-- Page title -->
    <header class="pageTitle marginbottom">
        Your grades
    </header>

    <div class="actionCard">
      <p class="horizonline">

        Currently logged in as {{username}}.
        <a
          class="marginleft"
          role="button"
          href="login.html"
          title="This link goes login page"
          >Log out</a>        
      </p>
    </div>

    <!--All of links should go to -->
    <table>
      <!-- Starts a table, contains rows -->
      <thead>
        <tr>
          <th>Assignment</th>
          <!-- The header for that column should also be right-aligned. -->
          <th class="alnright">Graded</th>
        </tr>
      </thead>

      {% for assignment in assignments%}
      <tr>
        <td>{{assignment.title}} </td>


        {% if assignment.isValid %}
          <td class="alnright"> {{ assignment.assigned_count}} / {{assignment.total}} </td>
        {% else %}
          <td class="alnright"> Not Due </td>        
        {% endif %}

      </tr>
      {% endfor %}
      {% comment %} {% for assignment in assignment_list %}
        <tr> 
          <td> {{assignment.title}} </td>

          <td class= "alnright"> {{assignment.assigned_count}} / {{assignment.total}} </td>
        </tr>
      {% endfor %} {% endcomment %}

      {% comment %} {% for submission in submissions_count %}
        <tr>
          <td> test </td>
        
          <td>
          {{submission}}1
          </td>
        </tr>
        {% endfor %} {% endcomment %}
        <!-- <tr>
        <td>
          <a
            role="button"
            href="index.html"
            title="This link goes Github username"
            >Github username</a
          >
        </td>
        <td class="alnright">2/3</td>
      </tr>

      <tr>
        <td>
          <a
            role="button"
            href="index.html"
            title="This link goes Assignments 1"
            >Homework 1 (HTML)</a
          >
        </td>
        <td class="alnright">Not due</td>
      </tr>

      <tr>
        <td>
          <a
            role="button"
            href="index.html"
            title="This link goes Assignments 2"
            >Homework 2 (CSS)</a
          >
        </td>
        <td class="alnright">Not due</td>
      </tr>

      <tr>
        <td>
          <a
            role="button"
            href="index.html"
            title="This link goes Assignments 3"
            >Homework 3 (Backend)</a
          >
        </td>
        <td class="alnright">Not due</td>
      </tr>

      <tr>
        <td>
          <a
            role="button"
            href="index.html"
            title="This link goes Assignments 4"
            >Homework 4 (Deploy)</a
          >
        </td>
        <td class="alnright">Not due</td>
      </tr>

      <tr>
        <td>
          <a
            role="button"
            href="index.html"
            title="This link goes Assignments 5"
            >Homework 5 (Permissions)</a
          >
        </td>
        <td class="alnright">Not due</td>
      </tr>

      <tr>
        <td>
          <a
            role="button"
            href="index.html"
            title="This link goes Assignments 6"
            >Homework 6 (JS)</a
          >
        </td>
        <td class="alnright">Not due</td>
      </tr> -->
    </table>
</div>
</div>

</html>
