<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">

{% include "header.html" with title=assignment_title %}

<div class="maincontents">
    <div class="maincontentsStyle">

        <header class="pageTitle">
            <strong>{{assignment_title}} </strong>
        </header>

        <span class="marginbottom">
            All grades out of {{assignment_point}}
        </span>

        <form action= "/{{assignment_id}}/grade/" method ="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Student</th>
                        <th> Submission</th>
                        <th> Grade </th>
                    </tr>
                </thead>
                {% for submission in submission_info%}
                    <tr>
                        <td> {{submission.author_username}} </td>
                        <td> <a href='/uploads/{{submission.submit_file}}'>Submission</a></td>
                        <td><input type="number" 
                            title="Assignment1 grade" 
                            name= grade-{{submission.user_id}} 
                            value= {{submission.get_score}}> 
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="horizonAdj">
                <div>
                    <button type='submit'>Submit</button>
                </div>
                <div><a href="/{{assignment_id}}/" title="This link goes assignment">Back to assignment</a></div>
            </div>
        </form>


    </div>
</div>

</body>

</html>