@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap');


* {
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.25;
    fallback: initial;
}

/* Set the line-height to 1.5× inside tables. */
.table{
    line-height: 1.5;
}

.bold{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

/*ID*/
.navigation{
    line-height: 1.25;
    font-size: 125%;
    background-color: rgb(221, 221, 221);
    box-shadow: 0 0 5px gray;
}

.src{
    font-family: 'IBM Plex Mono', monospace;
}

.pageTitle{
    font-size: 150%;
    border-bottom: solid;
    border-color: rgb(221, 221, 221);
}

.loginForm{
    font-size: 125%;
}

.actionCard{
    background-color: rgb(177, 195, 222);
    border: 2px solid rgb(32, 74, 135)
}

/* Make sure there are 3rem of whitespace between 
   the page title and the navigation banner. */
.whiteSpace3rem{
    white-space: 3rem;
}

/*implement hover to 'a'*/
a:hover{
    color: red;
    text-decoration: underline;
}

/* 
Make table columns that contain numbers right-aligned. */
.alnright{
    text-align: right;
}

/* .flex-container{
    display: flex;
    justify-content: center;
} */