@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;    /* for code */
    font-family: 'IBM Plex Sans', sans-serif;   /*all text on the page */
    line-height: 1.25;
}

/*Remove any margins or padding on the html and body element*/
body{
    margin: 0;
}

html{
    margin: 0;
}

/* Set the line-height to 1.5× inside tables. */
table{
    margin-top: 1rem;
    line-height: 1.5;
    text-align: left;
    width: 100%;
}

.maincontents{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.maincontentsStyle{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 50rem;
    max-width: 50rem;
}

/*implement hover to 'a'*/
a:hover{
    text-decoration: underline;
    color: rgb(76, 76, 76); /* same color from picture / dark gray looks different */
}


/*The links should have three different possible styles: normal, hover, 
and click Which are dark gray, dark gray + underlined, and black + underlined*/

a{
    color: rgb(76, 76, 76); /* same color from picture / dark gray looks different */
    text-decoration: none;
}

a:active{
    color: black;
    text-decoration: underline;
}


.bold{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

p{
    margin-bottom: 0;
}

.navigation{
    display: flex;
    background-color: rgb(221, 221, 221);
    box-shadow: 0 0 5px gray;   /*no offeset in either the x or y/ 5 pixel blur radius*/
    justify-content: center;
    margin-bottom: 3rem;
}

.naviformat{
    display: flex;
    flex-direction: row;
    font-size: 125%;
    max-width: 50rem;
    width: 50rem;
    gap: 1rem;
}

.src{
    font-family: 'IBM Plex Mono', monospace;
}

.pageTitle{
    display: flex;
    flex-direction: column;
    font-size: 150%;
    border-bottom: solid;
    border-color: rgb(221, 221, 221);
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

/*set all text insdie the login form to be 25%*/
.loginForm{
    font-size: 125%;
    margin-top: 1rem;
}

.actionCard{
    display: flex;
    flex-direction: column;
    background-color: rgb(177, 195, 222);
    border: 2px solid rgb(32, 74, 135);
    padding-left: 1rem;
    padding-right: 1rem;
}
.actionCard a{
    margin-left: auto;
}

.marginleft{
    margin-left: auto;
}

.horizonline{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.horizonAdj{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.marginbottom{
    display: flex;
    margin-bottom: 1rem;
}


/* 
Make table columns that contain numbers right-aligned. */
.alnright{
    text-align: right;
}

.rowContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 1rem;
}
.rowBox{
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    align-content: center;
}
output {
    color: red;
}

th.sortable {cursor: pointer; }
th.sort-asc::after { content: " \25b2;"}
th.sort-desc::after { content: " \25bc;" }